<h1>ProtractorSnapshots</h1>

<div class="examples">
  <!-- title -->
  <h2 id="title" style="width: 10rem;">hello!</h2>

  <!-- paragraph -->
  <p id="paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
    industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
    remaining
    essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
    passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>

  <!-- svg -->
  <svg id="svg" width="100" height="100">
    <circle cx="50" cy="50" r="40" stroke="blue" stroke-width="4" fill="yellow" />
    Sorry, your browser does not support inline SVG.
  </svg>

  <!-- scrollable element-->
  <div id="scrollable" style="width: 25rem;height: 5rem; overflow: auto;">
    <p style="min-width: 40rem;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
      has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining
      essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
      passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
  </div>
</div>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tristique tortor id diam scelerisque, quis convallis
  lectus facilisis. Suspendisse potenti. Aliquam magna eros, imperdiet vitae placerat ac, vehicula eget tortor. Praesent
  pulvinar dapibus leo sit amet facilisis. Nulla efficitur suscipit nulla, eu ultricies arcu luctus sit amet. Ut aliquet
  finibus lorem, eu sodales ipsum feugiat quis. Praesent sagittis orci ac tellus vulputate, quis blandit neque iaculis.
  Curabitur tristique pretium faucibus. Nam venenatis lorem sed blandit luctus. Mauris et risus vel lacus molestie
  lobortis. Curabitur posuere sem quis nulla cursus, sed maximus lorem fermentum. Nunc efficitur leo et turpis cursus
  sagittis. Praesent luctus convallis leo ut elementum.

  Nam malesuada mauris non tortor dignissim, vel egestas nulla semper. Vivamus vel mauris at nisi euismod sollicitudin
  quis et tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam cursus
  tortor non quam facilisis egestas non eu eros. Phasellus aliquet nec nunc nec venenatis. Etiam fringilla quam sit amet
  elit ullamcorper suscipit. Quisque in malesuada erat. Aliquam posuere ante leo, nec pulvinar odio convallis sit amet.
  In hac habitasse platea dictumst. Phasellus posuere eros ac vulputate rhoncus. Integer justo tellus, venenatis non leo
  ac, volutpat sollicitudin nulla. Aliquam felis tortor, imperdiet et suscipit non, pharetra quis ante.

  Sed convallis bibendum lacus, pharetra bibendum lectus viverra elementum. Integer id felis ligula. Sed placerat
  ultricies massa vel egestas. Integer dui tellus, congue quis ultricies a, vehicula a mauris. Sed malesuada, quam in
  sollicitudin condimentum, nibh eros posuere justo, eu egestas ex erat eu purus. Aenean lorem mauris, condimentum at
  maximus eu, tincidunt quis purus. Fusce elementum id metus et tincidunt. Donec nisl lacus, elementum nec sapien vel,
  pharetra auctor dui. Quisque malesuada laoreet mollis. Donec ut nunc mauris. Pellentesque at volutpat eros. Duis nec
  lectus condimentum, porttitor mi sit amet, blandit risus. Mauris ultrices iaculis ante, vestibulum suscipit nisl
  rhoncus vel.

  Nunc rutrum volutpat gravida. Donec bibendum, metus eu vehicula pretium, ligula arcu dictum sem, nec auctor turpis
  magna et massa. Nullam volutpat feugiat ex eu condimentum. Ut dapibus vel metus sed lobortis. Nunc mollis quam a
  libero ornare finibus. Ut euismod molestie justo at pulvinar. Maecenas lobortis diam lacus, vel imperdiet eros
  elementum vel. Phasellus quis augue nec orci ultricies faucibus sit amet laoreet tellus. Morbi euismod urna purus, eu
  maximus sapien euismod in. Fusce nec tortor a nulla vestibulum imperdiet. Proin fringilla ipsum et arcu rutrum
  sagittis. Duis scelerisque tempus neque vitae sollicitudin.

  Integer vehicula metus neque, ac vulputate turpis faucibus vitae. Vivamus in tristique diam, nec malesuada felis. Nam
  convallis nunc velit, sed vulputate ex aliquam quis. Curabitur tempus id sapien a malesuada. Nunc hendrerit vitae sem
  ac consectetur. Aliquam erat volutpat. Sed suscipit neque tempus placerat commodo. Ut ullamcorper massa id neque
  feugiat tincidunt. Quisque nec enim accumsan, tempus nisi nec, vestibulum purus. Quisque commodo magna ac justo
  consectetur, quis rutrum orci posuere. Nam lectus ipsum, porttitor eu nisl et, auctor volutpat enim. Pellentesque
  habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec elit tellus, cursus et elit
  eget, blandit aliquet eros. Vestibulum turpis lacus, vulputate nec hendrerit sed, cursus ut leo. Curabitur varius,
  odio quis aliquam ullamcorper, metus dui consequat eros, pretium posuere ligula enim quis leo.

  Duis finibus dictum ligula non hendrerit. Ut tempor, risus id rhoncus gravida, sem augue feugiat elit, ut ornare eros
  sapien sed ligula. Morbi id malesuada odio. Cras sodales, leo et molestie mollis, odio sapien consequat ante, ac
  gravida ligula arcu at nisi. Integer sodales massa vitae urna sollicitudin, ut convallis metus tincidunt. Cras
  ullamcorper vulputate sodales. Quisque non pellentesque tellus. Nam efficitur condimentum enim ut blandit.

  Vestibulum condimentum vestibulum dolor, nec placerat odio condimentum sit amet. Morbi scelerisque dui sit amet erat
  eleifend, in lacinia nulla malesuada. Donec in hendrerit libero, tincidunt finibus felis. Proin imperdiet, nunc a
  viverra molestie, diam metus vulputate magna, ac blandit erat nisl non odio. Donec urna justo, pretium fermentum
  malesuada convallis, lacinia in diam. Suspendisse dignissim, justo quis egestas posuere, orci eros pretium lacus, et
  egestas justo odio a magna. Proin quis orci sit amet elit sollicitudin posuere sed vel tellus.

  Pellentesque vitae eros a nibh gravida pretium. Nullam posuere finibus leo, eu efficitur neque pretium nec. Donec sit
  amet tortor convallis, facilisis erat ac, mattis purus. Phasellus blandit dolor id lorem facilisis mollis. Aliquam
  mattis quam vel felis rutrum, quis consectetur dui iaculis. Quisque luctus sapien ac eros commodo viverra. Nullam non
  odio quis dolor aliquam lacinia. Curabitur in massa ac felis tincidunt ultrices nec semper odio. Sed auctor, massa
  quis egestas malesuada, diam dui condimentum lacus, vulputate posuere tellus mi quis risus. Vivamus ac porttitor
  nulla, ultrices semper tellus. In hac habitasse platea dictumst. Suspendisse eleifend molestie ipsum vitae facilisis.

  Nulla sed odio a ante feugiat varius eu at mi. Cras laoreet blandit tortor, eget iaculis sapien convallis id. Morbi
  porta est nec consequat pretium. Fusce quam eros, commodo sit amet est eu, mollis rutrum mauris. Ut dignissim tellus
  eget odio ultrices tristique in sit amet ligula. Vestibulum a arcu scelerisque, hendrerit magna vel, tristique diam.
  Phasellus non mi eu justo iaculis sagittis et a sapien. Aliquam leo enim, iaculis suscipit ipsum eu, fermentum tempor
  quam. Maecenas ac nisi auctor, laoreet nunc a, accumsan tortor.

  Nunc aliquam tristique porttitor. Morbi metus purus, tempor vitae ultrices vel, fermentum eu nulla. Curabitur lobortis
  diam a volutpat molestie. In in erat at dui hendrerit consequat commodo sed erat. Donec id odio pharetra, vestibulum
  ex at, ultricies enim. Aenean dapibus auctor nisl tincidunt molestie. Curabitur id arcu vitae elit accumsan rutrum ac
  eu nunc. Cras aliquam imperdiet nulla, porta elementum nisl aliquam et. Phasellus magna velit, bibendum id lacus
  elementum, faucibus accumsan quam. Praesent in erat ac nibh semper tempor. Cras suscipit velit mauris, ac rhoncus
  turpis feugiat at. Nunc semper mauris eget elit pretium molestie. In non turpis posuere, aliquam elit in, vehicula
  arcu.

  In eleifend volutpat mi vitae pulvinar. Cras eleifend scelerisque elit id bibendum. Nam metus magna, mollis ut urna
  vitae, dictum ultrices justo. Morbi bibendum ultrices odio, non euismod neque. Interdum et malesuada fames ac ante
  ipsum primis in faucibus. Mauris convallis nunc non sagittis congue. Donec ornare varius dolor in sagittis.
  Suspendisse commodo augue id velit rhoncus, eget luctus leo suscipit. Mauris urna lacus, vestibulum at mauris quis,
  blandit tristique tortor.

  In vitae orci at erat ultrices cursus. Donec posuere nibh non felis egestas venenatis. Pellentesque et pretium lacus.
  Etiam at purus cursus, interdum diam ac, posuere nulla. Duis nec consectetur purus, sed rhoncus orci. Nunc vitae
  hendrerit erat. Sed at neque sit amet metus fermentum semper vel in massa. Cras ligula ipsum, venenatis id lobortis
  quis, tincidunt vitae risus. Integer ac convallis sapien. Aenean efficitur felis in pellentesque cursus. Donec
  scelerisque ultricies orci nec porta. Nulla id sagittis tellus.

  Nullam in diam suscipit, auctor lacus sit amet, commodo purus. Aliquam sit amet mauris ornare, congue turpis sit amet,
  ullamcorper tortor. Nunc nisi ante, cursus vel auctor vel, scelerisque at tortor. Maecenas iaculis arcu eget tellus
  hendrerit egestas. Aenean eleifend neque vel massa accumsan pretium. In orci magna, fermentum in nisi eget, laoreet
  pulvinar lectus. Sed dolor massa, tincidunt a libero id, ullamcorper iaculis nibh. Vivamus convallis luctus est,
  vehicula pharetra tellus cursus in. Quisque pretium pretium pulvinar. Nullam libero nunc, suscipit eget turpis at,
  volutpat congue lacus.

  Morbi lorem massa, iaculis a elit non, porta egestas sapien. Donec posuere ultricies molestie. Nullam lacinia mi eget
  diam mollis sollicitudin fermentum vitae diam. Donec nec pulvinar elit. Cras sit amet lacinia velit. Maecenas rutrum
  dui sed lobortis vulputate. Morbi tempor nisl quis lectus ullamcorper ultricies. Vestibulum ante ipsum primis in
  faucibus orci luctus et ultrices posuere cubilia curae; In pretium risus nisi, ac condimentum libero aliquet non.
  Phasellus tincidunt bibendum ligula. Nulla aliquam luctus dui in suscipit. Integer lacinia risus vitae quam rutrum,
  non molestie tortor luctus.

  Suspendisse hendrerit lectus a fringilla dictum. Etiam velit lorem, accumsan non elit in, commodo molestie odio. Donec
  quis sollicitudin risus. Phasellus eget nisi in felis commodo scelerisque. Pellentesque enim tellus, efficitur eu
  cursus in, porta et velit. Donec sagittis elementum risus at volutpat. Nam urna mauris, euismod eget placerat eu,
  mattis non orci. Duis et arcu lectus. Phasellus non odio sem. Donec pulvinar at erat a tincidunt. Praesent lacinia
  sapien et tortor varius maximus. Fusce sodales quis diam maximus efficitur. Mauris vehicula bibendum pharetra. Etiam
  mi orci, porta quis nisi nec, tincidunt blandit erat. Curabitur non nisl vitae erat pharetra ullamcorper.
</p>